.form-control.custom-bg {
  background-color: #e9ecef;
  /* Light gray */
}

.badge-status {
  color: white;
}

.badge-status.new {
  background-color: #dc3545;
  /* Danger */
}

.badge-status.pending {
  background-color: #e67111;
  /* Danger */
}

.badge-status.confirmed {
  background-color: #198754;
  /* Success */
}

.badge-status.invoice {
  background-color: #ffc107;
  color: #212529;
  /* Warning + dark text */
}

.badge-status.completed {
  background-color: #0dcaf0;
  color: #212529;
  /* Info + dark text */
}

.badge-status.archived {
  background-color: #7d8ccf;
  color: #212529;
  /* Info + dark text */
}

.badge-status.cancelled {
  background-color: #6c757d;
  /* Secondary */
}

.btn-primary {
  background-color: #007bff
}

.btn-secondary {
  background-color: #e0e0e0;
  color: #333;
}

.btn-secondary:hover {
  background-color: #d0d0d0;
}

.alert-success {
  background-color: #198754;
  color: #fff;
}

.alert-warning {
  background-color: #ffc107;
  color: #212529;
}

.alert-danger {
  background-color: #dc3545;
  color: #fff;
}

.alert-info {
  background-color: #0dcaf0;
  color: #212529;
}

body.logs-view {
  font-family: monospace;
  background: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 1rem;
}

body.logs-view h1 {
  font-family: sans-serif;
  color: #444;
}

body.logs-view #log-container {
  white-space: pre-wrap;
  max-height: 80vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

body.logs-view select,
body.logs-view button {
  margin-right: 10px;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 14px;
}

body.logs-view button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

body.logs-view button:hover {
  background-color: #0056b3;
}

/* Log line styles */
body.logs-view .log-line {
  display: block;
}

body.logs-view .log-ERROR {
  color: #c00;
  font-weight: bold;
}

body.logs-view .log-WARNING {
  color: #d58512;
}

body.logs-view .log-INFO {
  color: #117a8b;
}

body.logs-view .log-DEBUG {
  color: #6c757d;
}


/* Loading overlay */
#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 2000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}


#loadingOverlay.active {
  opacity: 1;
  pointer-events: all;
}

.overlay-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* End Loading Overlay