{% extends 'base.html' %}

{% block title %}
Booking Details
{% endblock %}

{% block content %}

<form method="POST" action="{{ url_for('modify_fields', booking_id=rec.booking.id) }}">
  <div class="card">

    <div class="card-header badge-status {{ rec.tracking.status|lower }}">
      <div class="d-flex align-items-center justify-content-between w-100">
        <div>
          <h5 class="mb-0">
            <span>Booking ID: {{ rec.booking.id }}</span>
            <span class="text-muted mx-2">•</span>
            <span>{{ rec.tracking.status }}</span>
          </h5>
        </div>
        {% if rec.tracking.status in ['New', 'Pending', 'Confirmed'] %}
        <button type="submit" class="btn btn-primary" title="Clicking Save triggers an email send">💾 Save
          Changes</button>
        {% else %}
        <button type="submit" class="btn btn-primary" disabled>📌 Read Only</button>
        {% endif %}
      </div>
    </div>

    <div class="row g-2">
      {% if rec.tracking.status in ['Pending', 'Cancelled'] %}
      <div class="col-md-12">
        <div class="input-group">
          {% if rec.tracking.status == 'Pending' %}
          <span class="input-group-text">Question Asked</span>
          <span class="form-control custom-bg">{{ rec.tracking.pend_question }}</span>
          {% else %}
          <span class="input-group-text">Cancel Reason</span>
          <span class="form-control custom-bg">{{ rec.tracking.cancel_reason }}</span>
          {% endif %}
        </div>
      </div>
      {% endif %}

      <!-- Row One -->
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-text">Leader</span>
          {% if rec.tracking.status in ['New', 'Pending', 'Confirmed'] %}
          <input type="text" name="leader.name" class="form-control track-changes" value="{{ rec.leader.name }}" min="1"
            required>
          {% else %}
          <span class="form-control custom-bg">{{ rec.leader.name }}</span>
          {% endif %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-text">Group</span>
          {% if rec.tracking.status in ['New', 'Pending', 'Confirmed'] %}
          <input type="text" name="booking.group_name" class="form-control track-changes"
            value="{{ rec.booking.group_name }}" min="1" required>
          {% else %}
          <span class="form-control custom-bg">{{ rec.booking.group_name }}</span>
          {% endif %}
        </div>
      </div>

      <!-- Row Two -->
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-text">Phone</span>
          {% if rec.tracking.status in ['New', 'Pending', 'Confirmed'] %}
          <input type="text" name="leader.phone" class="form-control track-changes" value="{{ rec.leader.phone }}"
            min="1" required>
          {% else %}
          <span class="form-control custom-bg">{{ rec.leader.phone | default('')}}</span>
          {% endif %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-text">Group Type</span>
          {% if rec.tracking.status in ['New', 'Pending', 'Confirmed'] %}
          <input type="text" name="booking.group_type" class="form-control track-changes"
            value="{{ rec.booking.group_type }}" min="1" required>
          {% else %}
          <span class="form-control custom-bg">{{ rec.booking.group_type }}</span>
          {% endif %}
        </div>
      </div>

      <!-- Row Three -->
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-text">Email</span>
          {% if rec.tracking.status in ['New', 'Pending', 'Confirmed'] %}
          <input type="text" name="leader.email" class="form-control track-changes" value="{{ rec.leader.email }}"
            min="1" required>
          {% else %}
          <span class="form-control custom-bg">{{ rec.leader.email }}</span>
          {% endif %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-text">Request Submitted</span>
          <span class="form-control custom-bg">{{ rec.booking.submitted|pretty_date(True) }}</span>
        </div>
      </div>

      <!-- Row Four -->
      <div class="col-md-12">
        <div class="input-group">
          <span class="input-group-text">Facilities (also Calendar Title)</span>
          {% if rec.tracking.status in ['New', 'Pending', 'Confirmed'] %}
          <input type="text" name="booking.facilities" class="form-control track-changes"
            value="{{ rec.booking.facilities }}" min="1" required>
          {% else %}
          <span class="form-control custom-bg">{{ rec.booking.facilities }}</span>
          {% endif %}
        </div>
      </div>

      <!-- Row Five -->
      <div class="col-md-5">
        <div class="input-group">
          <span class="input-group-text">Arriving</span>
          {% if rec.tracking.status in ['New', 'Pending', 'Confirmed'] %}
          <input id="arriving" type="text" name="booking.arriving" class="form-control track-changes"
            value="{{ rec.booking.arriving|datetime_local_value }}" readonly />
          {% else %}
          <span class="form-control custom-bg">{{ rec.booking.arriving|pretty_date(True) }}</span>
          {% endif %}
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <span class="input-group-text">Number</span>
          {% if rec.tracking.status in ['New', 'Pending', 'Confirmed'] %}
          <input type="number" name="booking.group_size" class="form-control track-changes"
            value="{{ rec.booking.group_size }}" min="1" required>
          {% else %}
          <span class="form-control custom-bg">{{ rec.booking.group_size }}</span>
          {% endif %}
        </div>
      </div>
      <div class="col-md-5">
        <div class="input-group">
          <span class="input-group-text">Departing</span>
          {% if rec.tracking.status in ['New', 'Pending', 'Confirmed'] %}
          <input id="departing" type="text" name="booking.departing" class="form-control track-changes"
            value="{{ rec.booking.departing|datetime_local_value }}" />
          {% else %}
          <span class="form-control custom-bg">{{ rec.booking.departing|pretty_date(True) }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</form>

<!-- End First Card -->

<div class="card">
  <div class="card-header bg-secondary text-white">
    <div class="d-flex align-items-center justify-content-between w-100">
      <div>
        <h5 class="mb-0">
          <span>Calendar Event</span>
        </h5>
      </div>
      <div class="ms-auto d-flex gap-2">
        {% if 'Confirmed' in valid_transitions %}
        <form method="POST" action="{{ url_for('change_status', new_status='Confirmed', booking_id=rec.booking.id) }}"
          class="d-inline" onsubmit="showLoadingOverlay()">
          <button id="confirmButton" type="submit" class="btn btn-success">✔️ Confirm</button>
        </form>
        {% endif %}
        {% if 'Cancelled' in valid_transitions %}
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelModal">❌ Cancel</button>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row g-2">
    {% if not rec_list_clash %}
    <div class="col-md-12">
      <div class="input-group">
        <span class="input-group-text">Calendar is FREE</span>
        <span class="form-control custom-bg">✔️</span>
      </div>
    </div>
    {% else %}
    {% for rec in rec_list_clash %}
    <div class="col-md-12">
      <div class="input-group">
        <span class="input-group-text"><a
            href="{{ url_for('booking_detail', booking_id=rec.booking.id) }}">{{rec.booking.id}}</a></span>
        <span class="form-control custom-bg">
          {{ rec.booking.arriving |
          pretty_date(True) }} to {{ rec.booking.departing | pretty_date(True)}} -
          {{rec.booking.facilities }}
        </span>
      </div>
    </div>
    {% endfor %}
    {% endif %}

    <div class="text-end mt-12">
      {# Cancelled → New only if booking in the future #}
      {% if 'New' in valid_transitions %}
      {% if rec.booking.arriving > time_now %}
      <form method="POST" action="{{ url_for('change_status', new_status='New', booking_id=rec.booking.id) }}"
        class="d-inline">
        <button type="submit" class="btn btn-warning">🔄 Resurrect Booking</button>
      </form>
      {% else %}
      <button class="btn btn-danger" disabled>❌ Past Bookings Cannot Be Resurrected</button>
      {% endif %}
      {% endif %}

      {# Invoice → Completed #}
      {% if 'Completed' in valid_transitions and rec.tracking.status == 'Invoice' %}
      <form method="POST" action="{{ url_for('change_status', new_status='Completed', booking_id=rec.booking.id) }}"
        class="d-inline">
        <button type="submit" class="btn btn-success">✔️ Invoice Raised in Xero</button>
      </form>
      {% endif %}

      {# New → Pending #}
      {% if 'Pending' in valid_transitions %}
      <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#pendModal">❓ Send Query and Pend</button>
      {% endif %}

      {% if rec.tracking.status in ['Pending', 'Confirmed'] %}
      <form method="POST" action="{{ url_for('resend_email', booking_id=rec.booking.id) }}" class="d-inline">
        <button type="submit" class="btn btn-warning">✔️ Resend Email</button>
      </form>
      {% endif %}
    </div>

    <h6 class="text-muted">History</h6>
    <div class="mb-3">
      <pre class="bg-light p-3 rounded" style="white-space: pre-wrap;">{{ rec.tracking.notes }}</pre>
    </div>
  </div>

  <!-- Loading Overlay -->
  <div id="loadingOverlay" class="d-none">
    <div class="overlay-background"></div>
    <div class="overlay-spinner">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="mt-3 text-white">
        <strong>Please wait...</strong>
      </div>
    </div>
  </div>


  <!-- Pend Booking Modal -->
  <div class="modal fade" id="pendModal" tabindex="-1" aria-labelledby="pendModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form method="POST" action="{{ url_for('change_status', new_status='Pending', booking_id=rec.booking.id) }}"
        onsubmit="showLoadingOverlay()">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="pendModalLabel">Query and Pend Booking</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label for="pendquestion" class="form-label">Question to requester:</label>
            <textarea class="form-control custom-bg" name="description" id="pendquestion" rows="3" required></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel This Popup</button>
            <button type="submit" class="btn btn-danger">Submit Query to Booking Requester</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Cancel Booking Modal -->
  <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form method="POST" action="{{ url_for('change_status', new_status='Cancelled', booking_id=rec.booking.id) }}"
        onsubmit="showLoadingOverlay()">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cancelModalLabel">Cancel Booking</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label for="cancelReason" class="form-label">Reason for cancellation:</label>
            <textarea class="form-control custom-bg" name="description" id="cancelReason" rows="3" required></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Do Not Cancel Booking</button>
            <button type="submit" class="btn btn-danger">Cancel Booking</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% endblock %}