{% extends 'base.html' %}

{% block title %}
Calendar Events
{% endblock %}

{% block content %}

<p><a href="{{ url_for('list_cal_events', dry_run=False) }}">Fix-It!!</a></p>

<div class="card" style="width: 18rem;">
    <div class="card-header">
        Good
    </div>
    <ul class="list-group list-group-flush">
        {% for rec in good %}
        <li class="list-group-item">
            <a href="{{ url_for('booking_detail', booking_id=rec.booking.id) }}"
                class="text-decoration-none fw-semibold">{{ rec.booking.id }}</a>
        </li>
        {% endfor %}
    </ul>
</div>



<div class="card" style="width: 18rem;">
    <div class="card-header">
        Records Missing Cal Events
    </div>
    <ul class="list-group list-group-flush">
        {% for rec in missing %}
        <li class="list-group-item">
            <a href="{{ url_for('booking_detail', booking_id=rec.booking.id) }}"
                class="text-decoration-none fw-semibold">{{ rec.booking.id }}</a>
        </li>
        {% endfor %}
    </ul>
</div>


<div class="card" style="width: 18rem;">
    <div class="card-header">
        Records with Cal Events that should not
    </div>
    <ul class="list-group list-group-flush">
        {% for rec in delete %}
        <li class="list-group-item">
            <a href="{{ url_for('booking_detail', booking_id=rec.booking.id) }}"
                class="text-decoration-none fw-semibold">{{ rec.booking.id }}</a>
        </li>
        {% endfor %}
    </ul>
</div>


<div class="card" style="width: 18rem;">
    <div class="card-header">
        Extra
    </div>
    <ul class="list-group list-group-flush">
        {% for rec in extra %}
        <li class="list-group-item">
            <a href="">{{ rec }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}